<div class="z-[1000000] fixed inset-0 bg-black bg-opacity-75 flex items-center justify-center"
  [class.hidden]="!isModalOpen" [class.opacity-0]="!isModalOpen" [class.opacity-100]="isModalOpen"
  (click)="closeModal($event)">
  <div #formContainer class="max-w-full md:max-w-[400px] p-6 bg-white dark:bg-black rounded-lg shadow-lg"
    (click)="$event.stopPropagation()">
    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="title" class="text-right">Title</label>
        <p class='col-span-3 rounded-xl border border-gray-200 dark:border-secondary p-2'>{{product.title}}</p>
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="price" class="text-right">Price</label>
        <p class='col-span-3 rounded-xl border border-gray-200 dark:border-secondary p-2'>{{product.price}}</p>
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="description" class="text-right">Description</label>
        <div
          class='h-52 xl:h-full col-span-3 rounded-xl border border-gray-200 dark:border-secondary p-2 overflow-scroll xl:overflow-hidden'>
          {{product.description}}
        </div>
      </div>

      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="price" class="text-right">Category</label>
        <p class='col-span-3 rounded-xl border border-gray-200 dark:border-secondary p-2'>{{product.category}}</p>
      </div>

      <div class="grid grid-cols-4 items-center gap-4">
        <label hlmLabel for="image" class="text-right">Image</label>
        <div class='col-span-3 space-y-2'>
          <img [src]="product.image" alt='Preview' class='h-56 object-cover rounded-md mx-auto' />
        </div>
      </div>
    </div>
  </div>
</div>